body {

  background-color: #b6eaf7e5;
  margin: 0;
}

p,
h2,
.top {
  margin-bottom: 0;
  text-align: center;
  font-family: "Sofia", sans-serif;
  color: #000000;
  font-weight: bold;
}

.bottomcloud {
  padding-top: 10px;
  text-align: center;
  position: absolute;
  left: 250px;
}

.topcloud {
  padding-top: 10px;
  text-align: center;
  position: relative;
  left: 250px;

}

.mountain {
  padding-top: 20px;
  text-align: center;
}